{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<style media="screen">
  .dropdown-toggle::after {
    display: none;
  }
</style>
<!-- Main Menu Section -->
<section class="menu">
  <nav class="navbar navigation">
    <div class="container">
      <div class="navbar-header">
        <h2 class="menu-title">Main Menu</h2>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div><!-- / .navbar-header -->

      <!-- Navbar Links -->
      <div id="navbar" class="navbar-collapse collapse text-center">
        <ul class="nav navbar-nav">

          <!-- Home -->
          <li class="dropdown ">
            <a href="index.html">Home</a>
          </li><!-- / Home -->


          <!-- Elements -->
          <li class="dropdown dropdown-slide">
            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="tf-ion-ios-arrow-down"></span></a>
            <div class="dropdown-menu">
              <div class="row">

                <!-- Basic -->
                <div class="col-lg-6 col-md-6 mb-sm-3">
                  <ul>
                    <li class="dropdown-header">Pages</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="confirmation.html">Confirmation</a></li>

                  </ul>
                </div>

                <!-- Layout -->
                <div class="col-lg-6 col-md-6 mb-sm-3">
                  <ul>
                    <li class="dropdown-header">Layout</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="product-single.html">Product Details</a></li>
                    <li><a href="shop-sidebar.html">Shop With Sidebar</a></li>

                  </ul>
                </div>

              </div><!-- / .row
            </div><!-- / .dropdown-menu
          </li><!-- / Elements


          <!-- Pages -->
          <li class="dropdown full-width dropdown-slide">
            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Pages <span class="tf-ion-ios-arrow-down"></span></a>
            <div class="dropdown-menu">
              <div class="row">

                <!-- Introduction -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">Introduction</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="contact.html">Contact Us</a></li>
                    <li><a href="about.html">About Us</a></li>
                    <li><a href="404.html">404 Page</a></li>
                    <li><a href="coming-soon.html">Coming Soon</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                  </ul>
                </div>

                <!-- Contact -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">Dashboard</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="dashboard.html">User Interface</a></li>
                    <li><a href="order.html">Orders</a></li>
                    <li><a href="address.html">Address</a></li>
                    <li><a href="profile-details.html">Profile Details</a></li>
                  </ul>
                </div>

                <!-- Utility -->
                <div class="col-sm-3 col-xs-12">
                  <ul>
                    <li class="dropdown-header">Utility</li>
                    <li role="separator" class="divider"></li>
                    <li><a href="login.html">Login Page</a></li>
                    <li><a href="signin.html">Signin Page</a></li>
                    <li><a href="forget-password.html">Forget Password</a></li>
                  </ul>
                </div>

                <!-- Mega Menu -->
                <div class="col-sm-3 col-xs-12">
                  <a href="shop.html">
                    <img class="img-responsive" src="{% static 'images/shop/header-img.jpg' %}" alt="menu image" />
                  </a>
                </div>
              </div><!-- / .row -->
            </div><!-- / .dropdown-menu -->
          </li><!-- / Pages -->



          <!-- Blog -->
          <li class="dropdown dropdown-slide">
            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="tf-ion-ios-arrow-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="blog-left-sidebar.html">Blog Left Sidebar</a></li>
              <li><a href="blog-right-sidebar.html">Blog Right Sidebar</a></li>
              <li><a href="blog-full-width.html">Blog Full Width</a></li>
              <li><a href="blog-grid.html">Blog 2 Columns</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
          </li><!-- / Blog -->

          <!-- Shop -->
          <li class="dropdown dropdown-slide">
            <a href="#!" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="350" role="button" aria-haspopup="true" aria-expanded="false">Elements <span class="tf-ion-ios-arrow-down"></span></a>
            <ul class="dropdown-menu">
              <li><a href="typography.html">Typography</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="alerts.html">Alerts</a></li>
            </ul>
          </li><!-- / Blog -->
        </ul><!-- / .nav .navbar-nav -->

      </div>
      <!--/.navbar-collapse -->
    </div><!-- / .container -->
  </nav>
</section>

<div class="hero-slider">
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static 'images/slider/slider-1.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static 'images/slider/slider-3.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-left">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
  <div class="slider-item th-fullpage hero-area" style="background-image: url({% static 'images/slider/slider-2.jpg' %});">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-right">
          <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">PRODUCTS</p>
          <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">The beauty of nature <br> is hidden in details.</h1>
          <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn" href="shop.html">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="product-category section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="title text-center">
          <h2>Product Category</h2>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box">
          <a href="#!">
            <img src="{% static 'images/shop/category/category-1.jpg' %}" alt="" />
            <div class="content">
              <h3>Clothes Sales</h3>
              <p>Shop New Season Clothing</p>
            </div>
          </a>
        </div>
        <div class="category-box">
          <a href="#!">
            <img src="{% static 'images/shop/category/category-2.jpg' %}" alt="" />
            <div class="content">
              <h3>Smart Casuals</h3>
              <p>Get Wide Range Selection</p>
            </div>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="category-box category-box-2">
          <a href="#!">
            <img src="{% static 'images/shop/category/category-3.jpg' %}" alt="" />
            <div class="content">
              <h3>Jewellery</h3>
              <p>Special Design Comes First</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products section bg-gray">
  <div class="container">
    <div class="row">
      <div class="title text-center">
        <h2>Trendy Products</h2>
      </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="{% static 'images/shop/products/product-1.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Reef Boardsport</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-2.jpg' %}" alt="product-img' %}" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-3.jpg' %}" alt="product-img' %}" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Strayhorn SP</a></h4>
            <p class="price">$230</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-4.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Bradley Mid</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-5.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-6.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <span class="bage">Sale</span>
            <img class="img-responsive" src="{% static 'images/shop/products/product-7.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-8.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <img class="img-responsive" src="{% static 'images/shop/products/product-9.jpg' %}" alt="product-img" />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">Rainbow Shoes</a></h4>
            <p class="price">$200</p>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal product-modal fade" id="product-modal">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="tf-ion-close"></i>
        </button>
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                  <div class="modal-image">
                    <img class="img-responsive" src="{% static 'images/shop/products/modal-product.jpg' %}" alt="product-img" />
                  </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                  <div class="product-short-details">
                    <h2 class="product-title">GM Pendant, Basalt Grey</h2>
                    <p class="product-price">$200</p>
                    <p class="product-short-description">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem iusto nihil cum. Illo laborum numquam rem aut officia dicta cumque.
                    </p>
                    <a href="cart.html" class="btn btn-main">Add To Cart</a>
                    <a href="product-single.html" class="btn btn-transparent">View Product Details</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal -->

    </div>
  </div>
</section>


<!--
Start Call To Action
==================================== -->
<section class="call-to-action bg-gray section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title">
          <h2>SUBSCRIBE TO NEWSLETTER</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat, <br> facilis numquam impedit ut sequi. Minus facilis vitae excepturi sit laboriosam.</p>
        </div>
        <div class="col-lg-6 col-md-offset-3">
          <div class="input-group subscription-form">
            <input type="text" class="form-control" placeholder="Enter Your Email Address">
            <span class="input-group-btn">
              <button class="btn btn-main" type="button">Subscribe Now!</button>
            </span>
          </div><!-- /input-group -->
        </div><!-- /.col-lg-6 -->

      </div>
    </div> <!-- End row -->
  </div> <!-- End container -->
</section> <!-- End section -->

<section class="section instagram-feed">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>View us on instagram</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="instagram-slider" id="instafeed" data-accessToken="IGQVJYeUk4YWNIY1h4OWZANeS1wRHZARdjJ5QmdueXN2RFR6NF9iYUtfcGp1NmpxZA3RTbnU1MXpDNVBHTzZAMOFlxcGlkVHBKdjhqSnUybERhNWdQSE5hVmtXT013MEhOQVJJRGJBRURn"></div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
