{% extends 'layouts/base.html' %} {% load static %} {% block content %}
<!-- Main Menu Section -->

<div class="hero-slider">
  {% for image in images %}
  <div
    class="slider-item th-fullpage hero-area"
    style="background-image: url({{ image.carousel_img.url }})"
  >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 text-center">
          <p
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".1"
          >
            {{ image.paragraph }}
          </p>
          <h1
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".5"
            style="font-family: 'Poppins', sans-derif; font-size: 30px; width: 500px; margin: 9px auto; letter-spacing: .7px;"
          >
            {{ image.menu }} <br />
          </h1>
          <a
            data-duration-in=".3"
            data-animation-in="fadeInUp"
            data-delay-in=".8"
            class="btn"
            href="#"
            >{{ image.button }}</a
          >
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<section class="product-category section">
  <div class="container">
    <div class="row">
      {% for category in categories %}
      <div class="col-md-12">
        <div class="title text-center">
          <h2>{{ category.product_category_model }}</h2>
        </div>
      </div>
      {% for image in products %}
      <div class="col-md-6">
        <div class="category-box">
          <a href="#">
            <img
              src="{{ image.product_category_box_carousel.url }}"
              alt=""
            />
            <div class="content">
              <h3>{{ image.product_category_box_head }}</h3>
              <p>{{ image.product_category_box_text }}</p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</section>


{% for trendy_category in trendy_products_categories %}
<section class="products section bg-gray">
  <div class="container">
    <div class="row">
      <div class="title text-center">
        <h2>{{ trendy_category.trendy_products_category }}</h2>
      </div>
    </div>
    <div class="row">
      {% for trend in trendy_products %}
      <div class="col-md-4">
        <div class="product-item">
          <div class="product-thumb">
            <span style="position: absolute; font-size: 13px; right: 20px; top: 10px; letter-spacing: 2px; font-weight: bold;">{{ trend.trendy_products_sale }}</span>
            <img
              class="img-responsive"
              src="{{ trend.trendy_products_image.url }}"
              alt="product-img"
            />
            <div class="preview-meta">
              <ul>
                <li>
                  <span data-toggle="modal" data-target="#product-modal">
                    <i class="tf-ion-ios-search-strong"></i>
                  </span>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-ios-heart"></i></a>
                </li>
                <li>
                  <a href="#!"><i class="tf-ion-android-cart"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="product-content">
            <h4><a href="product-single.html">{{ trend.trendy_products_type }}</a></h4>
            <p class="price">${{ trend.trendy_products_cost }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- /.modal -->
    </div>
  </div>
</section>
{% endfor %}


<!--
Start Call To Action
==================================== -->
{% for newspaper in subscribe_newspapers %}
<section class="call-to-action bg-gray section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <div class="title" style="width: 550px; margin: 4px auto;">
          <h2 class="mb-4">{{ newspaper.subscribe_newspaper_header }}</h2>
          <p>{{ newspaper.subscribe_newspaper_text }}</p>
        </div>
        <div class="col-lg-6 col-md-offset-3" style="transform: translateX(-100px);">
          <div class="input-group subscription-form" style="width: 400px; margin: 0 auto;">
            <input
              type="text"
              class="form-control"
              placeholder="Enter Your Email Address"
            />
            <span class="input-group-btn">
              <button class="btn btn-main" type="button">Subscribe Now!</button>
            </span>
          </div>
          <!-- /input-group -->
        </div>
        <!-- /.col-lg-6 -->
      </div>
    </div>
    <!-- End row -->
  </div>
  <!-- End container -->
</section>
<!-- End section -->
{% endfor %}

{% for instagram_category in instagram_model_category %}
<section class="section instagram-feed">
  <div class="container">
    <div class="row">
      <div class="title">
        <h2>{{ instagram_category.instagram_category_name }}</h2>
      </div>
    </div>
    <div class="row">
      {% for instagram in instagram_social %}
      <div class="col-3">
        <img src="{{ instagram.instagram_view_image.url }}" alt="">
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endfor %}

{% endblock content %}
